services:
  redis1226:
    image: redis:7
    container_name: redis
    restart: always

  backend:
    build: ./back
    container_name: backend
    restart: always
    depends_on:
      - redis1226
    environment:
      REDIS_HOST: redis1226
      REDIS_PORT: 6379

  frontend:
    build: ./front
    container_name: frontend
    restart: always

  nginx:
    image: nginx:1.25-alpine
    container_name: nginx
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./frontend/dist:/usr/share/nginx/html:ro
      - ./certbot/www:/var/www/certbot
      - ./certbot/conf:/etc/letsencrypt
    depends_on:
      - backend
      - frontend





